<div id="postcard-app">
  <template v-if="!showSuccess">
    <form @submit.prevent="onSubmit">
      <fieldset class="form-group">
        <legend tabindex="-1" class="col-form-label">[[%models.postcard.title]] *</legend>
        <input v-model="record.title" class="form-control" :disabled="loading" required autofocus/>
      </fieldset>

      <fieldset class="form-group">
        <legend tabindex="-1" class="col-form-label">[[%models.postcard.text]] *</legend>
        <textarea v-model="record.text" class="form-control" :disabled="loading" rows="5" required @keydown="onTextInput"></textarea>
        <small>{{ textLength }} / {{ maxLength }}</small>
      </fieldset>

      <fieldset class="form-group">
        <legend tabindex="-1" class="col-form-label">[[%models.postcard.file]]</legend>
        <b-form-file
          v-model="file"
          placeholder="[[%models.postcard.file_upload]]"
          accept="image/*"
          :disabled="loading"
          @input="onFile"
        />
      </fieldset>

      <fieldset class="form-group">
        <legend tabindex="-1" class="col-form-label">[[%models.postcard.name_for]] *</legend>
        <input v-model="record.name_for" class="form-control" :disabled="loading" required/>
      </fieldset>

      <fieldset class="form-group">
        <legend tabindex="-1" class="col-form-label">[[%models.postcard.name_from]] *</legend>
        <input v-model="record.name_from" class="form-control" :disabled="loading" required/>
      </fieldset>

      <div class="row">
        <div class="col-md-6">
          <fieldset class="form-group">
            <legend tabindex="-1" class="col-form-label">[[%models.postcard.email_from]] *</legend>
            <input v-model="record.email_from" class="form-control" :disabled="loading" type="email"/>
          </fieldset>
        </div>
        <div class="col-md-6">
          <fieldset class="form-group">
            <legend tabindex="-1" class="col-form-label">[[%models.postcard.phone_from]]</legend>
            <vesp-input-text-mask v-model="record.phone_from" :mask="phoneMask" :disabled="loading"/>
          </fieldset>
        </div>
      </div>
      <input class="d-none" type="submit"/>
    </form>

    <div class="d-flex">
      <button class="btn btn-secondary" :disabled="!canPreview || previewLoading" @click="onPreview">
        [[%actions.preview]]
        <b-spinner v-if="previewLoading" small />
      </button>
      <button v-if="showPreview" class="btn btn-secondary ml-3" @click="showPreview = false">
        [[%actions.preview_close]]
      </button>
      <button class="btn btn-primary ml-auto" :disabled="!canSubmit  || submitLoading" @click="onSubmit">
        [[%actions.submit]]
        <b-spinner v-if="submitLoading" small />
      </button>
    </div>

    <iframe v-if="showPreview" id="postcard-preview" :src="previewUrl"></iframe>
  </template>

  <template v-else>
    <div class="text-center">
      <div id="postcard-success" class="alert alert-success mt-3">[[%postcard.submit_success]]</div>
      <button class="btn btn-primary" @click="showSuccess = false">
        [[%actions.send_another]]
      </button>
    </div>
  </template>
</div>