<template>
  <div>
    <b-form-group :label="$t('models.postcard.title')">
      <b-form-input v-model="record.title" autofocus required />
    </b-form-group>

    <b-form-group :label="$t('models.postcard.text')">
      <b-form-textarea v-model="record.text" rows="5" required @keydown="onTextInput" />
      <small>{{ textLength }} / {{ maxLength }}</small>
    </b-form-group>

    <b-form-group :label="$t('models.postcard.file')">
      <div v-if="record.id && record.file" class="text-center">
        <b-link :href="$image(record.file)" target="_blank">
          <b-img :src="$image(record.file, {h: 260})" fluid-grow class="mb-3" height="260" />
        </b-link>
      </div>
      <b-form-file
        v-model="file"
        :placeholder="$t(`models.postcard.file_${!record.id || !record.file ? 'upload' : 'replace'}`)"
        accept="image/*"
        @input="onFile"
      />
    </b-form-group>

    <b-form-group :label="$t('models.postcard.name_for')">
      <b-form-input v-model="record.name_for" required />
    </b-form-group>

    <b-form-group :label="$t('models.postcard.name_from')">
      <b-form-input v-model="record.name_from" required />
    </b-form-group>

    <b-row>
      <b-col md="6">
        <b-form-group :label="$t('models.postcard.email_from')">
          <b-form-input v-model="record.email_from" type="email" />
        </b-form-group>
      </b-col>
      <b-col md="6">
        <b-form-group :label="$t('models.postcard.phone_from')">
          <vesp-input-text-mask v-model="record.phone_from" :mask="phoneMask" />
        </b-form-group>
      </b-col>
    </b-row>

    <b-form-checkbox v-model="record.processed" class="mt-2">{{ $t('models.postcard.processed') }}</b-form-checkbox>
  </div>
</template>

<script>
export default {
  name: 'FormPostCard',
  props: {
    value: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      file: null,
      phoneMask: window.PostCardConfig.phoneMask || '+41 __ ___ __ __',
      allowEmoji: Boolean(window.PostCardConfig.allowEmoji || false),
      maxLength: Number(window.PostCardConfig.maxTextLength || 400),
    }
  },
  computed: {
    record: {
      get() {
        return this.value
      },
      set(newValue) {
        this.$emit('input', newValue)
      },
    },
    textLength() {
      return this.record.text ? this.record.text.length : 0
    },
  },
  watch: {
    'record.title'(newValue, oldValue) {
      if (!this.allowEmoji && newValue !== oldValue) {
        this.$nextTick(() => {
          this.record.title = this.filterText(newValue)
        })
      }
    },
    'record.text'(newValue, oldValue) {
      if (!this.allowEmoji && newValue !== oldValue) {
        this.$nextTick(() => {
          this.record.text = this.filterText(newValue)
          if (this.maxLength && this.textLength > this.maxLength) {
            this.record.text = this.record.text.slice(0, this.maxLength)
          }
        })
      }
    },
    'record.name_for'(newValue, oldValue) {
      if (!this.allowEmoji && newValue !== oldValue) {
        this.$nextTick(() => {
          this.record.name_for = this.filterText(newValue)
        })
      }
    },
    'record.name_from'(newValue, oldValue) {
      if (!this.allowEmoji && newValue !== oldValue) {
        this.$nextTick(() => {
          this.record.name_from = this.filterText(newValue)
        })
      }
    },
  },
  methods: {
    onFile(file) {
      const reader = new FileReader()
      reader.readAsDataURL(file)
      reader.onload = () => {
        const data = {file: reader.result, metadata: {name: file.name, size: file.size, type: file.type}}
        if (this.record.id) {
          this.record.new_file = data
        } else {
          this.record.file = data
        }
      }
    },
    filterText(val) {
      return val.replace(
        /([\u2700-\u27BF]|[\uE000-\uF8FF]|\uD83C[\uDC00-\uDFFF]|\uD83D[\uDC00-\uDFFF]|[\u2011-\u26FF]|\uD83E[\uDD10-\uDDFF])/g,
        '',
      )
    },
    onTextInput(e) {
      const keys = ['Backspace', 'Delete', 'CapsLock', 'Tab', 'ArrowRight', 'ArrowLeft', 'ArrowUp', 'ArrowDown']
      if (!keys.includes(e.key) && !e.metaKey && !e.ctrlKey && !e.altKey && this.textLength >= this.maxLength) {
        e.preventDefault()
      }
    },
  },
}
</script>
