<template>
  <div>
    <vesp-table
      ref="table"
      :url="url"
      :fields="fields"
      :filters="filters"
      :header-actions="headerActions"
      :table-actions="tableActions"
      :sort="sort"
      :dir="dir"
      class="p-3"
    >
      <template #cell(file)="{value}">
        <b-link v-if="value" :href="$image(value)" target="_blank">
          <b-img :src="$image(value, {h: 50})" fluid height="50" />
        </b-link>
      </template>
      <template #cell(title)="{value, toggleDetails}">
        <b-link @click.prevent="toggleDetails">{{ value }}</b-link>
      </template>
      <template #row-details="{item}">
        <div class="alert alert-light" style="white-space: pre-wrap" v-text="item.text" />
      </template>
      <template #cell(processed)="{value}">
        <fa v-if="value" icon="check" class="text-success" />
        <fa v-else icon="times" class="text-muted" />
      </template>
    </vesp-table>

    <router-view />
  </div>
</template>

<script>
export const url = 'admin/post-cards'

export default {
  data() {
    return {
      url,
      fields: [
        {key: 'id', label: this.$t('models.postcard.id'), sortable: true},
        {key: 'file', label: this.$t('models.postcard.file')},
        {key: 'title', label: this.$t('models.postcard.title'), sortable: true, formatter: this.formatTitle},
        {key: 'name_for', label: this.$t('models.postcard.name_for'), sortable: true},
        {key: 'name_from', label: this.$t('models.postcard.name_from'), sortable: true},
        {key: 'processed', label: this.$t('models.postcard.processed'), sortable: true},
        {key: 'actions', label: '', class: 'action-buttons'},
      ],
      filters: {
        query: '',
      },
      sort: 'id',
      dir: 'desc',
      headerActions: [{route: 'cards-create', icon: 'plus', title: this.$t('actions.create')}],
      tableActions: [
        {route: 'cards-edit-id', icon: 'edit', title: this.$t('actions.edit')},
        {function: this.onPreview, icon: 'eye', title: this.$t('actions.preview')},
        {route: 'cards-delete-id', icon: 'times', title: this.$t('actions.delete'), variant: 'danger'},
      ],
    }
  },
  methods: {
    onPreview(item) {
      const url = this.$axios.defaults.baseURL + this.url + '/' + item.id + '/preview'
      window.open(url)
    },
    formatTitle(value) {
      const maxLength = 25
      if (value && value.length > maxLength) {
        return value.slice(0, maxLength) + '...'
      }
      return value
    },
  },
}
</script>
