<template>
  <vesp-modal v-model="record" :url="url" :title="title" visible>
    <template #form-fields>
      <form-post-card v-model="record" />
    </template>
  </vesp-modal>
</template>

<script>
import {url} from '../cards'
import FormPostCard from '../../components/post-card'

export {url}
export default {
  components: {FormPostCard},
  data() {
    return {
      url,
      record: {},
    }
  },
  computed: {
    title() {
      return this.$t('postcard.title') + (this.record.title ? ': ' + this.record.title : '')
    },
  },
}
</script>
