$light: #f0f0f0;

#postcard-app > .container {
  @import "node_modules/bootstrap/scss/functions";
  @import "node_modules/bootstrap/scss/variables";
  @import "node_modules/bootstrap/scss/mixins";
  @import "node_modules/bootstrap/scss/reboot";
  @import "node_modules/bootstrap/scss/grid";
  @import "node_modules/bootstrap/scss/modal";
  @import "node_modules/bootstrap/scss/tables";
  @import "node_modules/bootstrap/scss/pagination";
  @import "node_modules/bootstrap/scss/buttons";
  @import "node_modules/bootstrap/scss/forms";
  @import "node_modules/bootstrap/scss/custom-forms";
  @import "node_modules/bootstrap/scss/input-group";
  @import "node_modules/bootstrap/scss/transitions";
  @import "node_modules/bootstrap/scss/spinners";
  @import "node_modules/bootstrap/scss/images";
  @import "node_modules/bootstrap/scss/alert";
  @import "node_modules/bootstrap/scss/close";
  @import "node_modules/bootstrap/scss/utilities/display";
  @import "node_modules/bootstrap/scss/utilities/position";
  @import "node_modules/bootstrap/scss/utilities/background";
  @import "node_modules/bootstrap/scss/utilities/spacing";
  @import "node_modules/bootstrap/scss/utilities/borders";
  @import "node_modules/bootstrap/scss/utilities/text";
  @import "node_modules/bootstrap-vue/src/index";
  @import "node_modules/@vesp/frontend/assets/scss/components/table";

  .b-table {
    td {
      vertical-align: middle;
      &.action-buttons {
        position: unset;
        white-space: nowrap;
        text-align: right;

        .btn {
          svg {
            width: 1rem;
          }

          &:not(:first-child) {
            margin-left: 0.25rem;
          }
        }
      }
    }
  }

  .b-table-pagination {
    align-items: center;
  }

  .svg-inline--fa {
    vertical-align: -0.125em !important;
  }

  .custom-checkbox {
    .custom-control-label {
      &::before,
      &::after {
        top: 0.1rem;
      }
    }
  }
}

.modal-open {
  .modal {
    overflow-y: auto !important;
  }
}