<template>
  <div class="x-panel-bwrap">
    <div id="postcard-app" style="overflow: auto; height: 100vh">
      <div class="container">
        <h2 class="modx-page-header">{{ $t('postcard.title') }}</h2>

        <div class="x-panel-body bg-white rounded pt-1">
          <div class="panel-desc" v-text="$t('postcard.intro_msg')" />

          <router-view />
        </div>
      </div>
    </div>
  </div>
</template>
