<template>
  <vesp-modal
    v-model="record"
    :url="url + '/' + record.id"
    :title="$t('models.postcard.delete')"
    action-edit="delete"
    visible
    static
    ok-variant="danger"
    :ok-title="$t('actions.delete')"
    update-key="admin-post-cards"
  >
    <template #default>{{ $t('models.postcard.delete_confirm') }}</template>
  </vesp-modal>
</template>

<script>
import Create from '../create'

export default {
  extends: Create,
  created() {
    this.record = {id: this.$route.params.id}
  },
}
</script>
