#postcard-app {
  @import "node_modules/bootstrap/scss/functions";
  @import "node_modules/bootstrap/scss/variables";
  @import "node_modules/bootstrap/scss/mixins";
  @import "node_modules/bootstrap/scss/reboot";
  @import "node_modules/bootstrap/scss/grid";
  @import "node_modules/bootstrap/scss/buttons";
  @import "node_modules/bootstrap/scss/forms";
  @import "node_modules/bootstrap/scss/alert";
  @import "node_modules/bootstrap/scss/custom-forms";
  @import "node_modules/bootstrap/scss/spinners";
  @import "node_modules/bootstrap/scss/utilities/display";
  @import "node_modules/bootstrap/scss/utilities/spacing";
  @import "node_modules/bootstrap/scss/utilities/text";

  #postcard-preview {
    width: 100%;
    margin-top: 20px;
    border: none;
    height: 600px;
    background-color: #efefef;
  }
}